<!-- ============================================ -->
<!--                Call To Action                -->
<!-- ============================================ -->

<section id="cta-2293">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <div class="cs-topper">Contact</div>
                <h2 class="cs-title">READY TO GET STARTED?</h2>
                <p class="cs-text">
                    Contact us today for a free consultation and estimate. We look forward to working with you!
                </p>
            </div>
            <a href="/contact/" class="cs-button-solid">Get Free Estimate</a>
        </div>
        <div class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/phone-yellow.svg" alt="logo" width="32" height="32">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Contact</span>
                    <a class="cs-link" href="tel:+13183830070">M: (318) 383-0070</a>
                    <a class="cs-link" href="mailto:quote@scllc.pro">E: quote@scllc.pro</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/pin-yellow.svg" alt="logo" width="32" height="32">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Location</span>
                    <a class="cs-link" href="https://maps.app.goo.gl/ZwGnHbxY84PfMHWm6">6569 Colquitt Rd <br>Keithville, LA 71047</a>
                </div>
            </li>

            <li class="cs-item">
                <picture class="cs-wrapper">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/social-yellow.svg" alt="logo" width="32" height="32">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Social Media</span>
                    <div class="cs-social-links">
                        <a class="cs-link" href="https://www.facebook.com/profile.php?id=61559730231208">
                            Facebook
                        </a>
                        <a class="cs-link" href="https://www.instagram.com/steelandconcretepros?igsh=NHRnNDRqOWFzc2Fn">
                            Instagram
                        </a>
                        <a class="cs-link" href="https://www.linkedin.com/in/tyler-partington-40080515b">
                            LinkedIn
                        </a>
                    </div>
                </div>
            </li>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/roof.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/roof.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/roof.png" alt="roof" width="690" height="177">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-2293">
    <div class="cs-container">
        <div class="cs-top">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                <a class="cs-logo" aria-label="go back to home" href="/">
                    <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="https://assets.cdn.filesafe.space/Ku36gc9Cxkdn9PR1iSPv/media/6951d8bb73a5e0d53e81931f.png" alt="logo" width="260" height="48">
                </a>
            </div>
            <!--Sitemap-->
            <ul class="cs-ul">
                <li class="cs-li cs-header">
                    <span class="cs-link">USEFUL LINKS</span>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/foundation-repair-shreveport-la/">Foundation Repair</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about/">About</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/concrete-driveways-shreveport-la/">Driveways</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/service-areas/">Service Areas</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/retaining-walls-shreveport-la/">Retaining Walls</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact/">Contact</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/concrete-repair-shreveport-la/">Concrete Repair</a>
                </li>
            </ul>

            <div class="cs-subscribe-group">
                <span class="cs-header">SUBSCRIBE</span>
                <p class="cs-text">Get updates, tips, and special offers from SC Steel & Concrete Professionals.</p>
                <form class="cs-form" name="Footer Subscribe" method="post" data-netlify="true">
                    <input class="cs-input" type="email" name="email" placeholder="Email Address" required>
                    <button class="cs-button-solid" type="submit">SUBMIT</button>
                </form>
            </div>
            
        </div>
        <!--Bottom Copyright And Social-->
        <div class="cs-bottom">
            <span class="cs-copyright-group">
                <span class="cs-copyright">© Copyright 2026 - </span> 
                <a class="cs-link" href="https://www.nexisolve.com">Nexisolve Web Designs</a>
            </span>
            <div class="cs-flex">
                <span class="cs-link">Terms & Conditions</span>
                <div class="cs-divider" aria-hidden="true"></div>
                <span class="cs-link">Privacy Policy</span>
            </div>
        </div>
    </div>
</footer>
                                