<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <!--Nav Logo-->
    <a href="/" class="cs-logo cs-desktop" aria-label="back to home">
        <div class="cs-logo-wrapper">
            <!--Default Logo-->
            <img class="cs-default"
                src="https://assets.cdn.filesafe.space/Ku36gc9Cxkdn9PR1iSPv/media/69a1fbcf95735c2308c30b91.png"
                alt="logo" width="360" height="145" aria-hidden="true" decoding="async">
            <!--Dark Mode Logo-->
            <img class="cs-dark"
                src="https://assets.cdn.filesafe.space/Ku36gc9Cxkdn9PR1iSPv/media/6951d8bb73a5e0d53e81931f.png"
                alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </div>
    </a>
    <div class="cs-middle">
        <!--Top Bar-->
        <div class="cs-top-bar">
            <div class="cs-top-social">
                <a href="https://www.facebook.com/profile.php?id=61559730231208" class="cs-social-link">
                    <img class="cs-social-icon"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-1a.svg" alt="logo"
                        width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="https://www.tiktok.com/@scsteelandconcretepros" class="cs-social-link">
                    <img class="cs-social-icon"
                        src="https://assets.cdn.filesafe.space/Ku36gc9Cxkdn9PR1iSPv/media/69a8d0c5bffadf809f8d1953.svg"
                        alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="https://www.instagram.com/steelandconcretepros?igsh=NHRnNDRqOWFzc2Fn" class="cs-social-link">
                    <img class="cs-social-icon"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram1a.svg" alt="logo"
                        width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="https://www.youtube.com/@steelandconcretepros" class="cs-social-link">
                    <img class="cs-social-icon"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/youtube1a.svg" alt="logo"
                        width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
            <!--
            <ul class="cs-location">
                <li class="cs-item cs-remove">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-pin1.svg" alt="icon" width="20" height="20" aria-hidden="true" decoding="async">
                    6569 Colquitt Rd, Keithville, LA 71047
                </li> -->
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-clock1.svg"
                    alt="icon" width="20" height="20" aria-hidden="true" decoding="async">
                M-F: 9:00am - 5:00pm
            </li>
            </ul>
        </div>
        <div class="cs-bottom-bar">
            <a href="/" class="cs-logo cs-mobile" aria-label="back to home">
                <div class="cs-logo-wrapper">


                    <!--Default Logo-->
                    <img class="cs-default"
                        src="https://assets.cdn.filesafe.space/Ku36gc9Cxkdn9PR1iSPv/media/69a1fbcf95735c2308c30b91.png"
                        alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
                    <!--Dark Mode Logo-->
                    <img class="cs-dark"
                        src="https://assets.cdn.filesafe.space/Ku36gc9Cxkdn9PR1iSPv/media/6951d8bb73a5e0d53e81931f.png"
                        alt="logo" width="210" height="29" aria-hidden="true" decoding="async">


                </div>
            </a>
            <!--Navigation List-->
            <nav class="cs-nav" role="navigation">
                <!--Mobile Nav Toggle-->
                <button class="cs-toggle" aria-label="mobile menu toggle">
                    <div class="cs-box" aria-hidden="true">
                        <span class="cs-line cs-line1" aria-hidden="true"></span>
                        <span class="cs-line cs-line2" aria-hidden="true"></span>
                        <span class="cs-line cs-line3" aria-hidden="true"></span>
                    </div>
                </button>
                <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
                <div class="cs-ul-wrapper">
                    <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                        <li class="cs-li">
                            <a href="/" class="cs-li-link {% if page.url == '/' %}cs-active{% endif %}">
                                Home
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="/about/" class="cs-li-link {% if page.url == '/about/' %}cs-active{% endif %}">
                                About
                            </a>
                        </li>
                        <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                        <li class="cs-li cs-dropdown" tabindex="0">
                            <span
                                class="cs-li-link {% if page.url == '/foundation-repair/' or page.url == '/driveways/' or page.url == '/concrete-repair/' or page.url == '/retaining-walls/' or page.url == '/stamped-concrete/' or page.url == '/metal-building-concrete/' %}cs-active{% endif %}">
                                Services
                                <img class="cs-drop-icon"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arrow-dwon2.svg"
                                    alt="dropdown icon" width="24" height="24" decoding="async" aria-hidden="true">
                            </span>
                            <ul class="cs-drop-ul">
                                <li class="cs-drop-li">
                                    <a href="/foundation-repair-shreveport-la/"
                                        class="cs-li-link cs-drop-link {% if page.url == '/foundation-repair-shreveport-la/' %}cs-active{% endif %}">Foundation
                                        Repair</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="/concrete-driveways-shreveport-la/"
                                        class="cs-li-link cs-drop-link {% if page.url == '/concrete-driveways-shreveport-la/' %}cs-active{% endif %}">Driveways</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="/concrete-repair-shreveport-la/"
                                        class="cs-li-link cs-drop-link {% if page.url == '/concrete-repair-shreveport-la/' %}cs-active{% endif %}">Concrete
                                        Repair</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="/retaining-walls-shreveport-la/"
                                        class="cs-li-link cs-drop-link {% if page.url == '/retaining-walls-shreveport-la/' %}cs-active{% endif %}">Retaining
                                        Walls</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="/stamped-concrete-shreveport-la/"
                                        class="cs-li-link cs-drop-link {% if page.url == '/stamped-concrete-shreveport-la/' %}cs-active{% endif %}">Stamped
                                        Concrete</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="/metal-building-concrete-shreveport-la/" class="cs-li-link cs-drop-link {% if page.url == '/metal-building-concrete-shreveport-la/' %}cs-active{% endif %}">Metal Building
                                        Concrete</a>
                                </li>
                            </ul>
                            <li class="cs-li">
                                    <a href="/service-areas/"
                                        class="cs-li-link {% if page.url == '/service-areas/' %}cs-active{% endif %}">
                                        Service Areas
                                    </a>
                                </li>
                        </li>



                        </li>
                        <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                        <!--
                        <li class="cs-li cs-dropdown" tabindex="0">
                            <span class="cs-li-link">
                                Foundations
                                <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arrow-dwon2.svg" alt="dropdown icon" width="24" height="24" decoding="async" aria-hidden="true">
                            </span>
                            <ul class="cs-drop-ul">
                                <li class="cs-drop-li">
                                <a href="/concrete-crack-repair-shreveport-la/" class="cs-li-link cs-drop-link">Crack Repair</a>
                                </li>
                                <li class="cs-drop-li">
                                <a href="/foundation-repair/" class="cs-li-link cs-drop-link">House Leveling</a>
                                </li>
                                  <li class="cs-drop-li">
                                <a href="" class="cs-li-link cs-drop-link">Pier Installation</a>
                                </li>
                                  <li class="cs-drop-li">
                                <a href="" class="cs-li-link cs-drop-link">Slab Foundation Repair</a>
                                </li>
                                  <li class="cs-drop-li">
                                <a href="/contact/" class="cs-li-link cs-drop-link">Free Inspection</a>
                                </li>
                            </ul>
                        </li> -->

                        <li class="cs-li">
                            <a href="/projects/"
                                class="cs-li-link {% if page.url == '/projects/' %}cs-active{% endif %}">
                                Projects
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="/reviews/" class="cs-li-link {% if page.url == '/reviews/' %}cs-active{% endif %}">
                                Reviews
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
            <a class="cs-nav-button cs-tablet" href="tel:3183830070">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-phone1.svg" alt="icon"
                        width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Free Contact 24/7</span>
                    <span class="cs-link-content">(318) 383-0070</span>
                </div>
            </a>
            <a href="/contact/" class="cs-button-border">
                Get In Touch
                <img class="cs-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/up-right-arrow.svg" alt="icon"
                    width="20" height="20">
            </a>
            <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
            <button id="dark-mode-toggle" aria-label="dark mode toggle">
                <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480"
                    style="enable-background:new 0 0 480 480" xml:space="preserve">
                    <path
                        d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z" />
                </svg>
                <img class="cs-sun" aria-hidden="true"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg" decoding="async" alt="moon"
                    width="15" height="15">
            </button>
        </div>
    </div>
    <div class="cs-contact-wrapper">
        <a class="cs-desktop-button" href="tel:(318) 383-0070">
            <picture class="cs-wrapper">
                <img class="cs-button-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-phone1.svg" alt="icon"
                    width="24" height="24">
            </picture>
            <div class="cs-info">
                <span class="cs-header">Free Contact 24/7</span>
                <span class="cs-link-content">(318) 383-0070</span>
            </div>
        </a>
    </div>
</header>