---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/about/"
---

{% extends "layouts/base.html" %}

{% block head %}
<!--
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
    -->

    <link rel="stylesheet" href="/assets/css/interior.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-2285">
    <div class="cs-container">
        <span class="cs-int-title">ABOUT US</span>
        <!--<p class="cs-text">
            Platinum Craft Exteriors enhances your home's exterior with quality roofing and stunning finishes.
        </p>
    -->
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">GET QUOTE</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction11.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction11.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction11.jpg" alt="construction" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

 

    {% include 'sections/cta.html' %}

{% endblock %}